{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">Добавление канала</div>

                <div class="panel-body">

                    <div class="col-sm-12 col-xs-12">
                        {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_widget(form.name) }}
                        </div>
                        {{ form_widget(form.save) }}
                        {{ form_end(form) }}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}