{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">Привязать подписчиков к каналу</div>

                <div class="panel-body">

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="panel">
                            <div class="sk-chat-widgets">
                                <div class="white-box">
                                    <ul class="chatonline">
                                        {% for subscriber in subscribers %}
                                            <li>
                                                <div class="call-chat">
                                                    {% if not subscriber.isSubscribeToChannel(channel) %}
                                                        <a href="/api/channels/link/{{ subscriber.id }}/{{ channel.id }}">
                                                            <button class="btn btn-success btn-circle btn-lg" type="button">
                                                                <i
                                                                        class="fa fa-check"></i></button>
                                                        </a>
                                                    {% else %}
                                                        <a href="/api/channels/unlink/{{ subscriber.id }}/{{ channel.id }}">
                                                            <button class="btn btn-danger btn-circle btn-lg" type="button">
                                                                <i
                                                                        class="fa fa-times"></i></button>
                                                        </a>
                                                    {% endif %}
                                                </div>
                                                <a href="javascript:void(0)"><img
                                                            src="{{ asset('/assets/admin/plugins/images/users/ritesh.jpg') }}"
                                                            alt="user-img"
                                                            class="img-circle"> <span>{{ subscriber.name }}
                                                        <small
                                                                class="text-danger">{{ subscriber.id }}
                                                        </small></span></a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}