{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">Управление каналами</div>
                <div class="panel-heading">
                    <a href="/control/channels/add">
                        <button class="btn btn-success">Создать канал</button>
                    </a>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover manage-u-table">
                        <thead>
                        <tr>
                            <th width="70" class="text-center">ID</th>
                            <th>Название</th>
                            <th>Callback URL</th>
                            <th>Управление</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for channel in channels %}
                            <tr>
                                <td class="text-center">{{ channel.id }}</td>
                                <td class="text-center">{{ channel.name }}</td>
                                <td class="text-center">{{ channel.getCallbackUrl() }}</td>
                                <td>
                                    <a href="/control/channels/link/{{ channel.id }}">
                                        <button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-5">
                                            <i
                                                    class="ti-key"></i></button>
                                    </a>
                                    <button type="button" class="btn btn-success btn-outline btn-circle btn-lg m-r-5"><i
                                                class="ti-pencil-alt"></i></button>
                                    <button type="button" class="btn btn-danger btn-outline btn-circle btn-lg m-r-5"><i
                                                class="ti-trash"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}