{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">Управление подписчиками</div>
                <div class="table-responsive">
                    <table class="table table-hover manage-u-table">
                        <thead>
                        <tr>
                            <th width="70" class="text-center">ID</th>
                            <th>Имя/Фамилия</th>
                            <th>Username</th>
                            <th>Chat id</th>
                            <th>PIN</th>
                            <th>Активен</th>
                            <th>Управление</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for subscriber in subscribers %}
                            <tr>
                                <td class="text-center">{{ subscriber.getId() }}</td>
                                <td class="text-center">{{ subscriber.getName() }}</td>
                                <td class="text-center">{{ subscriber.getUsername() }}</td>
                                <td class="text-center">{{ subscriber.getChatId() }}</td>
                                <td class="text-center">{{ subscriber.getPin() }}</td>
                                <td class="text-center">{{ subscriber.getIsAccept() }}</td>
                                <td>
                                    <button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-5"><i
                                                class="ti-key"></i></button>
                                    <button type="button" class="btn btn-success btn-outline btn-circle btn-lg m-r-5"><i
                                                class="ti-pencil-alt"></i></button>
                                    <button type="button" class="btn btn-danger btn-outline btn-circle btn-lg m-r-5"><i
                                                class="ti-trash"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}