{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Ув. за сегодня</h3>
                <ul class="list-inline two-part">
                    <li>
                        <div id="sparklinedash"></div>
                    </li>
                    <li class="text-right"><i class="ti-arrow-up text-success"></i>
                        <span
                                class="counter text-success total-last-24-hours">{{ countLast24Hours }}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Ув. в час</h3>
                <ul class="list-inline two-part">
                    <li>
                        <div id="sparklinedash2"></div>
                    </li>
                    <li class="text-right"><i class="ti-arrow-up text-purple"></i> <span
                                class="counter text-purple avg-last-hour">{{ countLastHour }}</span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Всего уведом.</h3>
                <ul class="list-inline two-part">
                    <li>
                        <div id="sparklinedash3"></div>
                    </li>
                    <li class="text-right"><i class="ti-arrow-up text-info"></i> <span
                                class="counter text-info total-stats">{{ countTotal }}</span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Подписчиков</h3>
                <ul class="list-inline two-part">
                    <li>
                        <div id="sparklinedash4"></div>
                    </li>
                    <li class="text-right"><i class="ti-arrow-down text-danger"></i> <span
                                class="text-danger subscribers-total">{{ subscribersTotal }}</span></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/.row -->
    <!--row -->
    <!-- /.row -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="white-box">
                <h3 class="box-title">Статистика по каналам</h3>
                <ul class="list-inline text-right">
                    {% for channel in channels %}
                        <li>
                            <h5><i class="fa fa-circle m-r-5 text-info"></i>{{ channel.name }}</h5></li>
                    {% endfor %}
                </ul>
                <div id="ct-visits" style="height: 405px;"></div>
            </div>
        </div>
    </div>

    <!--<script>
        document.addEventListener("DOMContentLoaded", ready);
        function ready() {
            new Chartist.Line('#ct-visits', {
                labels: ['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015'],
                series: [
                    [5, 2, 7, 4, 5, 3, 5, 4],
                    [2, 5, 2, 6, 2, 5, 2, 4]
                ]
            }, {
                top: 0,

                low: 1,
                showPoint: true,

                fullWidth: true,
                plugins: [
                    Chartist.plugins.tooltip()
                ],
                axisY: {
                    labelInterpolationFnc: function (value) {
                        return (value / 1) + 'k';
                    }
                },
                showArea: true
            });
        }
        ;
    </script>-->

    <script>
        document.addEventListener("DOMContentLoaded", ready);
        function ready() {
            new Chartist.Line('#ct-visits', {
                labels: {{ graphDataResult.dates |json_encode|raw }},
                series: {{ graphDataResult.counts |json_encode|raw }},
            }, {
                top: 0,

                low: 1,
                showPoint: true,

                fullWidth: true,
                plugins: [
                    Chartist.plugins.tooltip()
                ],
                axisY: {
                    labelInterpolationFnc: function (value) {
                        return (value / 1) + 'k';
                    }
                },
                showArea: true
            });
        }
        ;
    </script>
{% endblock %}